<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="static/custom.css" />
    <title>YouTube Data Analytics Tools</title>
  </head>
  <body>
    <div class="container" >
      <!-- <div class="row d-flex justify-content-center align-items-center p-5 mt-5" >
        <div class="col-sm-8 text-center">
          <h2>Analyse Video Comments</h2>
          <p class="lead">Please enter a video topic you want to analyse.</p>
          <form class="form-group" action="/select_video">
            <input
              type="text"
              name="query"
              placeholder="Enter your topic name ..."
              class="form-control"
            />
            <button class="btn btn-primary mt-2">Search Video</button>
          </form>
        </div>
      </div> -->

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
