{% extends "layout.html" %}
{% block content %}

<div class="mt-5 p-5 text-center">
	<h2>Analyse Video Comments</h2>
	<p class="lead">Search Results for "{{ query }}"</p>
	<a href="{{ url_for('home') }}" class="btn btn-success">Home</a>
	<hr>
</div>

{% for item in query_result['items'] %}
<div class="row">
	<div class="col-sm-12 d-flex align-items-center border p-3 rounded">

		<div>
			<a href="https://www.youtube.com/watch?v={{ item['id']['videoId'] }}">
				<img src={{ item['snippet']['thumbnails']['medium']['url'] }} alt="" style="height: 250px;" class="rounded">
			</a>
		</div>

		<div class="ml-4">
			<h5 class="card-title">Video: {{ item['snippet']['title'] }}</h5>
			<p class="card-text">
			<p>Channel: {{ item['snippet']['channelTitle'] }}</p>
			<p>Comments: {{ item['statistics']['commentCount'] }}</p>
			<p>Likes: {{ item['statistics']['likeCount'] }}</p>
			<p>Dislikes: {{ item['statistics']['dislikeCount'] }}</p>
			</p>
			<form class="" action="">
				<a href="/video_comments?video_id={{ item['id']['videoId'] }}">
					<button type="button" class="btn btn-dark">See video comment analysis</button>
				</a>
			</form>
		</div>
	</div>
</div>
<p></p>
{% endfor %}

{% endblock content %}