{% extends "layout.html" %}
{% block content %}

<div class="mt-5 p-5 text-center">
	<h1>Video Comments Report</h1>
  <a href="{{ url_for('home') }}" class="btn btn-success">Home</a>
  <hr>
</div>

  {% for image_name in image_names %}
  <div class="text-center">
    <img src='{{ image_name }}' alt="">
  </div>
  {% endfor %}
  
  {% if generatedText %}
  <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header d-flex justify-content-between">
                      <span>Suggested Title</span>
                      <span style="color: red;">Neg: {{ negative_Average }}</span>
                  </div>
                  <div class="card-body">
                      <h3>{{ generatedText }}</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endif %}



{% endblock content %}
